@{
    Layout = "_Layout";

}
@using System.Data
@model DataTable

<div class="jumbotron jumbotron-fluid"> 
    <div class="container">
        <h1 class="display-4 ">Contact List</h1>
        <br />
        <div class="d-flex  float-right">
            <form method="post" >
                <a type="submit" asp-area="CON_Contact" asp-action="Add" asp-controller="CON_Contact" class="btn btn-primary btn-sm pr-2">Add Contact</a>
            </form>
            &nbsp;&nbsp;
           @* <div class="pull-right">
                <div id="sample_1_filter" class="dataTables_filter">
                    <input type="text" class="form-control h-75" placeholder="search" id="sample_1" aria-controls="sample_1" />
                </div>
            </div>*@
            <div class="pull-right">
                <form method="post" asp-area="CON_Contact" asp-controller="CON_Contact" asp-action="Filter" style="position: relative; margin-right: -336px;">
                <label>Filter: </label>
                    <input type="search" name="ContactName" class="form-control input-sm input-small input-inline" placeholder="Contact Name" value="" />
         
                <button type="submit" class="btn btn btn-success">GO</button>
            </form>
        </div>
    </div>
</div>
<div style="overflow-x:auto">
<table class="table" id="sample_1">
    <thead>
    <th colspan="2" class="text-center">Action</th>
    <th>CountryName</th>
    <th>PhotoPath</th>
    <th>StateName</th>
    <th>CityName</th>
    <th>ContactCategoryName</th>
    <th>ContactName</th>
    <th>Address</th>
    <th>PinCode</th>
    <th>Mobile</th>
    <th>AlternetContact</th>
    <th>Email</th>
    <th>BirthDate</th>
    <th>LinkedIn</th>
    <th>Twitter</th>
    <th>Insta</th>
    <th>Gender</th>
    <th>CreationDate</th>
    <th>ModificationDate</th>
    </thead>
    <tbody id="sample_2">
        @foreach (DataRow dr in Model.Rows)
        {
            <tr>
                    <td class="d-flex">
                            <form method="post" asp-area="CON_Contact" asp-action="Delete" asp-controller="CON_Contact">
                            <input type="hidden" name="ContactID" value="@Convert.ToInt32(dr["ContactID"]).ToString()" />
                            <button value="Submit" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete : @dr["ContactName"]')">Delete</button>

                        </form>
                    </td>
                    <td>
                            <form method="post" asp-area="CON_Contact" asp-action="Add" asp-controller="CON_Contact" asp-route-ContactID="@Convert.ToInt32(dr["ContactID"])">
                            <input type="hidden" name="ContactID" value="@Convert.ToInt32(dr["ContactID"]).ToString()" />
                            <button value="Submit" class="btn btn-success">Edit</button>
                        </form>
                    </td>
                
                <td>@dr["CountryName"]</td>
                <td><img src="@Url.Content(dr["PhotoPath"].ToString())" alt="@dr["CountryName"]" style="height:50px; width:50px"></td>
                <td>@dr["StateName"]</td>   
                <td>@dr["CityName"]</td>
                <td>@dr["ContactCategoryName"]</td> 
                <td>@dr["ContactName"]</td>
                <td>@dr["Address"]</td>
                <td>@dr["PinCode"]</td>
                <td>@dr["Mobile"]</td>
                <td>@dr["AlternetContact"]</td>
                <td>@dr["Email"]</td>
                <td>@Convert.ToDateTime(dr["BirthDate"]).ToString("dd-MM-yyyy")</td>
                <td>@dr["LinkedIn"]</td>
                <td>@dr["Twitter"]</td>
                <td>@dr["Insta"]</td>
                <td>@dr["Gender"]</td>
                <td>@Convert.ToDateTime(dr["CreationDate"]).ToString("dd-MM-yyyy")</td>
                <td>@Convert.ToDateTime(dr["ModificationDate"]).ToString("dd-MM-yyyy")</td>
            </tr>   
        }
    </tbody>
</table>
</div>
@section Scripts
    {
    <script>
        $(document).ready(function () {
            $("#sample_1").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#sample_2 tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>

}
