@{
    Layout = "_Layout";
}

@model CON_ContactModel
<div class="row">
    <div class="col-md-6">
        <h5 style="text-align:center">@TempData["ContactIinsertMsg"]</h5>
        <form method="post" asp-action="Save" asp-controller="CON_Contact">
            @Html.HiddenFor(x=>x.ContactID)
            <div class="form-group">
                <lable>Enter CountryName:-</lable>
                <select class="form-control" asp-for="CountryID" asp-items="@(new SelectList(ViewBag.CountryList,"CountryID","CountryName"))" onchange="statechange()">
                    <option value="">Select Country</option>
                </select>
            </div>
            <div class="form-group">
                <hr /><lable>Enter State Name:-</lable>
                <select class="form-control" asp-for="StateID" asp-items="@(new SelectList(ViewBag.StateList,"StateID","StateName"))" onchange="citychange()">
                    <option value="">Select State</option>
                </select>
            </div>
            <div class="form-group">
                <hr /><lable>Enter CityName:-</lable>
                <select class="form-control" asp-for="CityID" asp-items="@(new SelectList(ViewBag.CityList,"CityID","CityName"))">
                    <option value="">Select City</option>
                </select>
            </div>
            <div class="form-group">
                <hr /><lable>Enter ContactCategoryName:-</lable>
                <select class="form-control" asp-for="ContactCategoryID" asp-items="@(new SelectList(ViewBag.ContactCategoryList,"ContactCategoryID","ContactCategoryName"))">
                    <option value="">Select ContactCategoryName</option>
                </select>
            </div>
            <div class="form-group">
                <hr /><lable>Enter ContactName:-</lable>
                <input type="text" class="form-control" placeholder="Enter ContactName" asp-for="ContactName" />
            </div>
            <div class="form-group">
                <hr /><lable>Enter Address:-</lable>
                <input type="text" class="form-control" placeholder="Enter Address" asp-for="Address" />
            </div>
            <div class="form-group">
                <hr /><lable>Enter PinCode:-</lable>
                <input type="text" class="form-control" placeholder="Enter PinCode" asp-for="PinCode" />
            </div>
            <div class="form-group">
                <hr /><lable>Enter Mobile:-</lable>
                <input type="text" class="form-control" placeholder="Enter Mobile" asp-for="Mobile" />
            </div>
            <div class="form-group">
                <hr /><lable>Enter AlternetContact:-</lable>
                <input type="text" class="form-control" placeholder="Enter AlternetContact" asp-for="AlternetContact" />
            </div>
            <div class="form-group">
                <hr /><lable>Enter Email:-</lable>
                <input type="text" class="form-control" placeholder="Enter Email" asp-for="Email" />
            </div>
            <div class="form-group">
                <hr /><lable>Enter BirthDate:-</lable>
                <input type="date" class="form-control" placeholder="Enter BirthDate" asp-for="BirthDate" />
            </div>
            <div class="form-group">
                <hr /><lable>Enter LinkedIn:-</lable>
                <input type="text" class="form-control" placeholder="Enter LinkedIn" asp-for="LinkedIn" />
            </div>
            <div class="form-group">
                <hr /><lable>Enter Twitter:-</lable>
                <input type="text" class="form-control" placeholder="Enter Twitter" asp-for="Twitter" />
            </div>
            <div class="form-group">
                <hr /><lable>Enter Insta:-</lable>
                <input type="text" class="form-control" placeholder="Enter Insta" asp-for="Insta" />
            </div>
            <div class="form-group">
                <hr /><lable>Enter Gender:-</lable>
                <input type="text" class="form-control" placeholder="Enter Gender" asp-for="Gender" />
            </div>
            @*<div class="form-group">
                <hr /><lable>Enter CreationDate:-</lable>
                <input type="date" class="form-control" placeholder="Enter CreationDate" asp-for="CreationDate" />
            </div>
            <div class="form-group">
                <hr /><lable>Enter ModificationDate:-</lable>
                <input type="date" class="form-control" placeholder="Enter ModificationDate" asp-for="ModificationDate" />
            </div>*@
            <hr />
            <div class="text-center">
                <input type="submit" class="btn btn-outline-success" />
                <input type="submit" value="cancel" class="btn btn-outline-danger" />
            </div>
        </form>
       
    </div>
</div>
@section Scripts{
    <script>

        function statechange() {
            var CountryID = $("#CountryID").val();
            if (CountryID !== "") {
                $("#StateID").empty();
                $("#StateID").append($("<option></option>").val("").html("Select State"));
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    contentType: "application/json; charset=utf-8",
                    url: "@Url.Action("DropDownByCountry","CON_Contact")" + "?CountryID=" + CountryID,
                    dataType: "json",
                    success: function (Result) {
                        console.log(Result);
                        $.each(Result,
                            function (key, value) {
                                $("#StateID").append($("<option></option>").val(value.stateID).html(value.stateName));
                            });
                    },
                    error: function (r) {
                        alert("Error while loading DropDown");
                    }

                });
            }
            else {
                $("#StateID").empty();
                $("#StateID").append($("<option></option>").val("").html("Select State"));
            }
        }

        function citychange() {
            var StateID = $("#StateID").val();
            if (StateID !== "") {
                $("#CityID").empty();
                $("#CityID").append($("<option></option>").val("").html("Select State"));
                $.ajax({
                    type: "POST",
                    contentType: "application/json; charset=utf-8",
                    contentType: "application/json; charset=utf-8",
                    url: "@Url.Action("DropDownByState","CON_Contact")" + "?StateID=" + StateID,
                    dataType: "json",
                    success: function (Result) {
                        console.log(Result);
                        $.each(Result,
                            function (key, value) {
                                $("#CityID").append($("<option></option>").val(value.cityID).html(value.cityName));
                            });
                    },
                    error: function (r) {
                        alert("Error while loading DropDown");
                    }

                });
            }
            else {
                $("#StateID").empty();
                $("#StateID").append($("<option></option>").val("").html("Select State"));
            }
        }
        $(window).on('load', function () {
            console.log('All assets are loaded')
        })
    


    </script>
}

